$width: 300px;
$height: 300px;
.canvas {
  width: $width;
  height: $height;
  text-align: center;

  .square {
    width: $width/3;
    line-height: $height/3;
    font-size: $height/6;
    height: $height/3;
    border: 1px solid grey;

    &.last-move {
      background-color: #2E2F30;
      color: white;
    }
  }
}

.user.nav-link {
  .nav-avatar {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center center;
    border: 2px solid #464646;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    bottom: -10px;
  }
}